In this lecture we're going to review some of the basics of statistical testing in python. We're going to
talk about hypothesis testing, statistical significance, and using scipy to run student's t-tests.

In [1]:
# We use statistics in a lot of different ways in data science, 
# and on this lecture, I want to refresh your
# knowledge of hypothesis testing, which is a core data analysis 
# activity behind experimentation. The goal of
# hypothesis testing is to determine if, for instance, 
# the two different conditions we have in an experiment 
# have resulted in different impacts

# Let's import our usual numpy and pandas libraries
import numpy as np
import pandas as pd

# Now let's bring in some new libraries from scipy
from scipy import stats

In [2]:
# Now, scipy is an interesting collection of libraries for data 
# science and you'll use most or perpahs all of
# these libraries. It includes numpy and pandas,
# but also plotting libraries such as matplotlib, and a
# number of scientific library functions as well

In [2]:
# When we do hypothesis testing, 
# we actually have two statements of interest: the first is our actual
# explanation, which we call the alternative hypothesis,
# and the second is that the explanation we have is not
# sufficient, and we call this the null hypothesis. 
# Our actual testing method is to determine whether the null
# hypothesis is true or not.
# If we find that there is a difference between groups,
# then we can reject the null
# hypothesis and we accept our alternative.

# Let's see an example of this; we're going to use some grade data
df=pd.read_csv ('datasets/grades.csv')
df.head(5)

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [3]:
# If we take a look at the data frame inside,
# we see we have six different assignments. Lets look at some
# summary statistics for this DataFrame

print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

In [4]:
# For the purpose of this lecture, 
# let's segment this population into two pieces. Let's say those who finish
# the first assignment by the end of December 2015,
# we'll call them early finishers, and those who finish it 
# sometime after that, we'll call them late finishers.

early_finishers=df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.head(50)

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000
11,B017B4A6-1F41-9D46-A040-21B0D270D4BE,76.670469,2015-10-05 02:11:05.947000000,68.573422,2015-10-11 23:08:01.288000000,69.273422,2015-10-14 06:03:04.482000000,54.698738,2015-10-19 00:34:45.875000000,49.228864,2015-10-24 11:25:20.846000000,49.228864,2015-10-26 15:56:55.374000000
15,24827B50-2FC2-E4B0-E2A0-1989E17749B3,14.959603,2015-11-17 01:16:07.800000000,14.459603,2015-11-22 15:00:14.342000000,12.307682,2015-11-28 13:12:23.939000000,9.126146,2015-11-29 17:06:51.153000000,8.213531,2015-12-06 21:21:09.208000000,7.392178,2015-12-10 01:16:09.387000000
17,D6EFCCCA-82CA-C4BE-1C3E-D0477DE28B24,53.555227,2015-09-17 13:06:39.955000000,53.055227,2015-09-20 09:57:00.973000000,48.469704,2015-09-21 13:17:53.140000000,47.569704,2015-09-22 10:12:42.156000000,42.812734,2015-09-27 10:58:56.037000000,42.812734,2015-09-30 18:24:47.681000000
19,C040D322-E970-4E8F-22A6-2FFAF2D74061,36.383575,2015-11-12 14:05:47.682000000,32.315217,2015-11-29 12:17:05.380000000,33.015217,2015-12-24 08:32:51.206000000,25.692174,2015-12-15 12:46:09.484000000,20.553739,2015-12-27 06:11:42.755000000,16.442991,2016-01-04 07:07:44.849000000
22,A1331E62-50B5-94FC-E0CE-3092CB3D30D9,88.901114,2015-09-16 22:33:02.686000000,70.760891,2015-09-23 23:30:17.970000000,64.404802,2015-09-30 03:54:05.524000000,50.803842,2015-10-02 00:38:00.096000000,50.803842,2015-10-08 18:57:57.501000000,45.723457,2015-10-10 20:42:09.120000000
24,FCB5854D-D84C-E8BA-4AF8-59FCF9CC69CB,88.700055,2015-11-22 08:35:35.912000000,79.400050,2015-11-25 19:20:11.290000000,80.100050,2015-12-02 18:55:26.445000000,79.200050,2015-12-03 19:24:01.221000000,79.200050,2015-12-06 11:34:37.729000000,63.360040,2015-12-10 21:25:51.824000000
25,A4FB423A-E08E-559F-DCCD-A0A543E812E3,73.256087,2015-11-15 18:13:44.573000000,72.756087,2015-11-15 18:05:14.054000000,73.456087,2016-03-01 00:12:01.739000000,58.044870,2015-12-06 16:52:47.276000000,58.044870,2015-12-07 08:58:32.626000000,46.435896,2016-02-22 21:18:35.884000000
27,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,75.756429,2015-09-18 20:18:12.171000000,75.256429,2015-09-29 20:18:02.673000000,75.956429,2015-10-10 15:11:56.910000000,60.045143,2015-09-30 23:19:46.018000000,54.040629,2015-10-12 00:42:54.909000000,54.040629,2015-12-10 21:25:50.740000000
28,DDE0526B-7DA4-80E8-C2A6-D097F3826029,94.437504,2015-12-20 23:25:46.655000000,93.937504,2015-12-21 13:27:26.211000000,94.637504,2015-12-30 23:04:46.997000000,74.990003,2015-12-21 19:42:25.147000000,59.992002,2015-12-21 19:56:36.821000000,59.992002,2016-01-08 09:54:15.064000000
31,247B105C-2067-A7AA-2CBE-B65278128C96,67.272728,2015-11-29 11:12:19.546000000,60.115455,2015-12-06 15:35:42.732000000,48.832364,2015-12-10 08:54:52.454000000,47.932364,2015-12-13 23:15:48.104000000,47.932364,2015-12-20 15:03:54.890000000,43.139128,2015-12-21 20:36:33.494000000
35,DDE0526B-7DA4-80E8-C2A6-D097F3826029,84.569747,2015-10-04 04:48:45.093000000,67.295798,2015-10-07 18:18:34.315000000,54.576638,2015-10-12 20:42:45.112000000,53.676638,2015-10-09 23:26:44.826000000,42.941311,2015-10-10 19:48:17.128000000,38.647180,2015-10-27 06:00:25.184000000
37,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,46.216968,2015-10-12 18:17:58.284000000,41.165271,2015-10-19 12:59:31.481000000,41.865271,2015-10-20 20:00:26.665000000,36.868744,2015-10-21 11:26:24.383000000,36.868744,2015-10-23 12:10:59.128000000,33.181869,2015-10-26 19:33:49.509000000
41,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,92.313072,2015-10-04 08:05:05.734000000,91.813072,2015-10-10 09:34:59.165000000,92.513072,2015-10-13 14:10:16.018000000,73.290458,2015-10-31 04:56:08.068000000,58.632366,2015-11-18 09:19:03.352000000,52.769130,2015-12-04 09:24:50.831000000
42,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,54.648509,2015-10-17 15:57:34.382000000,48.753658,2015-10-24 11:02:00.238000000,49.453658,2015-10-26 20:51:07.415000000,48.553658,2015-10-31 10:19:25.895000000,38.842926,2015-11-07 14:48:03.969000000,38.842926,2015-11-10 21:57:05.987000000
44,1F51E050-78F7-F270-1B90-ED1BC0376763,84.397806,2015-12-14 07:48:07.185000000,83.897806,2015-12-19 08:40:55.205000000,67.858245,2015-12-24 04:01:36.978000000,60.262420,2015-12-25 13:23:07.047000000,54.236178,2016-01-02 09:53:13.686000000,48.812561,2016-01-06 07:02:46.214000000
45,DDE0526B-7DA4-80E8-C2A6-D097F3826029,74.831750,2015-10-21 20:43:13.791000000,59.505400,2015-10-22 20:38:56.557000000,54.274860,2015-10-28 00:04:16.885000000,42.699888,2015-11-02 01:09:08.848000000,38.429899,2015-11-10 20:29:15.228000000,34.586909,2015-11-12 08:58:38.999000000
46,25197F10-E9E9-4C50-63F8-6C896975AAE2,74.358688,2015-11-02 03:12:44.175000000,73.858688,2015-11-08 22:07:48.196000000,59.826950,2015-11-12 06:27:48.761000000,47.141560,2015-11-15 18:15:38.078000000,37.713248,2015-11-23 02:13:40.450000000,33.941923,2015-11-25 10:16:00.835000000
48,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,68.723308,2015-10-30 19:31:08.332000000,61.420977,2015-11-06 19:42:51.117000000,55.998880,2015-11-15 01:58:36.636000000,55.098880,2015-11-12 19:49:56.650000000,44.079104,2015-11-20 02:56:15.080000000,44.079104,2015-11-28 01:46:18.249000000
50,2B806EF6-A590-1C00-F0C5-1469E3B2152E,75.412068,2015-12-26 17:56:11.158000000,74.912068,2015-12-29 15:52:57.582000000,60.669654,2016-01-06 11:02:58.924000000,53.792689,2016-01-10 14:56:21.240000000,53.792689,2016-01-16 14:08:48.748000000,53.792689,2016-01-18 19:26:41.489000000
52,DDE0526B-7DA4-80E8-C2A6-D097F3826029,64.138166,2015-11-15 04:49:30.054000000,57.294350,2015-11-15 10:38:58.090000000,57.994350,2015-11-22 13:29:40.199000000,51.384915,2015-11-17 12:28:43.184000000,46.246423,2015-11-21 22:50:32.531000000,36.997138,2015-12-05 10:24:58.732000000
53,DDE0526B-7DA4-80E8-C2A6-D097F3826029,39.502537,2015-10-26 20:31:49.625000000,31.242030,2015-11-02 20:49:30.588000000,31.942030,2015-11-10 04:27:57.321000000,24.833624,2015-11-13 20:31:43.630000000,22.350261,2015-11-22 18:56:31.749000000,20.115235,2015-11-24 13:47:25.629000000
54,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,59.925967,2015-12-14 00:24:58.552000000,53.503370,2015-12-20 21:11:25.270000000,48.873033,2015-12-24 08:32:51.575000000,43.175730,2015-12-27 17:53:18.482000000,34.540584,2016-01-03 15:18:40.075000000,34.540584,2016-01-06 11:37:31.204000000
55,1F51E050-78F7-F270-1B90-ED1BC0376763,57.644747,2015-10-01 18:05:18.574000000,45.755797,2015-09-26 19:55:24.263000000,46.455797,2015-10-12 07:16:18.640000000,41.000218,2015-10-01 19:32:42.452000000,36.900196,2015-10-02 22:19:12.825000000,36.900196,2015-10-16 20:28:39.215000000
58,25197F10-E9E9-4C50-63F8-6C896975AAE2,95.568756,2015-10-16 09:58:24.931000000,95.068756,2015-10-22 18:25:03.503000000,95.768756,2015-11-01 17:10:05.594000000,85.381881,2015-10-26 19:40:26.723000000,85.381881,2015-10-30 09:00:05.644000000,85.381881,2015-11-07 12:24:30.521000000
59,DDE0526B-7DA4-80E8-C2A6-D097F3826029,89.708593,2015-09-19 19:21:08.042000000,71.406875,2015-09-25 19:43:54.729000000,64.986187,2015-09-30 07:56:39.411000000,51.268950,2015-10-03 23:33:31.653000000,41.015160,2015-10-10 23:46:55.214000000,36.913644,2015-10-12 16:43:00.200000000
60,5AB0D44C-86FF-2DE6-B096-B0F5D029E430,49.392524,2015-10-30 03:30:49.123000000,44.023272,2015-11-09 05:25:11.669000000,40.340944,2015-11-12 08:58:32.658000000,39.440944,2015-11-15 20:33:27.525000000,31.552756,2015-11-23 19:31:40.470000000,31.552756,2015-11-26 20:44:33.907000000
61,1F51E050-78F7-F270-1B90-ED1BC0376763,61.807918,2015-09-18 15:20:51.137000000,49.086334,2015-09-24 19:00:49.261000000,44.897701,2015-09-28 21:18:46.948000000,43.997701,2015-10-02 21:29:28.537000000,35.198161,2015-10-10 20:44:43.169000000,31.678345,2015-10-12 19:13:04.317000000
62,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,88.833245,2015-09-21 03:32:25.481000000,79.519920,2015-09-30 02:29:53.883000000,72.287928,2015-10-11 01:38:47.541000000,57.110343,2015-10-05 11:43:01.755000000,45.688274,2015-10-07 21:23:09.067000000,45.688274,2015-10-08 22:20:12.451000000
63,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,69.256666,2015-09-16 04:04:18.023000000,61.900999,2015-09-27 05:21:00.868000000,62.600999,2015-10-13 13:41:33.671000000,55.530899,2015-10-03 03:26:21.834000000,49.977809,2015-10-07 08:01:46.043000000,49.977809,2015-10-08 08:22:17.262000000
65,1F51E050-78F7-F270-1B90-ED1BC0376763,74.876650,2015-10-18 20:38:03.485000000,59.541320,2015-10-25 20:41:58.592000000,60.241320,2015-11-16 13:59:33.974000000,59.341320,2015-10-31 21:32:39.862000000,53.407188,2015-11-07 20:57:39.269000000,53.407188,2015-11-14 10:08:46.476000000
69,5AB0D44C-86FF-2DE6-B096-B0F5D029E430,83.845731,2015-11-01 14:09:20.564000000,66.716585,2015-11-04 16:10:46.371000000,60.764926,2015-11-12 08:58:31.516000000,53.878433,2015-11-13 13:34:09.550000000,48.490590,2015-11-17 21:50:00.230000000,43.641531,2015-11-22 15:32:53.450000000
70,25197F10-E9E9-4C50-63F8-6C896975AAE2,69.264562,2015-11-11 15:50:39.899000000,55.051650,2015-11-13 11:29:14.520000000,50.266485,2015-11-22 14:00:10.032000000,44.429836,2015-11-23 00:17:00.172000000,44.429836,2015-11-30 19:43:18.491000000,35.543869,2015-12-06 16:24:44.431000000
72,25197F10-E9E9-4C50-63F8-6C896975AAE2,72.252360,2015-09-19 20:06:49.971000000,64.597124,2015-09-21 05:41:48.774000000,58.857411,2015-09-25 04:48:06.152000000,52.161670,2015-10-01 00:02:09.115000000,52.161670,2015-10-08 17:44:31.898000000,52.161670,2015-10-14 00:04:45.112000000
73,2B806EF6-A590-1C00-F0C5-1469E3B2152E,88.531241,2015-11-01 19:10:07.890000000,70.464993,2015-11-02 19:43:29.298000000,57.111994,2015-11-10 05:28:05.257000000,56.211994,2015-11-14 00:08:21.836000000,56.211994,2015-11-23 03:28:11.515000000,56.211994,2015-11-30 19:35:17.663000000
74,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,96.723325,2015-11-02 03:30:31.008000000,96.223325,2015-11-24 23:59:58.294000000,77.718660,2016-01-28 02:03:57.782000000,76.818660,2015-11-25 01:34:26.241000000,69.136794,2015-11-25 02:20:43.628000000,55.309435,2015-11-26 08:51:02.341000000
75,1F51E050-78F7-F270-1B90-ED1BC0376763,96.424527,2015-11-11 16:54:26.330000000,86.352074,2015-11-16 14:01:38.409000000,87.052074,2015-11-22 12:59:38.589000000,86.152074,2015-11-28 17:08:34.241000000,77.536867,2015-12-05 08:05:32.908000000,69.783180,2015-12-06 11:55:03.587000000
76,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,59.059681,2015-10-05 05:35:44.273000000,46.887745,2015-10-12 04:21:23.230000000,47.587745,2015-10-19 06:11:45.756000000,46.687745,2015-10-19 07:41:41.729000000,42.018971,2015-10-26 03:14:48.734000000,42.018971,2016-03-20 02:31:49.624000000
78,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,81.375958,2015-09-20 22:02:53.212000000,80.875958,2015-09-27 05:01:36.405000000,65.440766,2015-09-28 11:19:40.293000000,51.632613,2015-10-04 08:34:13.709000000,46.469352,2015-10-10 18:59:37.637000000,37.175481,2015-10-13 22:04:14.323000000
79,2B806EF6-A590-1C00-F0C5-1469E3B2152E,96.104087,2015-10-12 00:31:23.574000000,76.523270,2015-09-23 02:17:27.002000000,69.590943,2015-09-26 15:18:08.245000000,61.821849,2015-10-02 02:28:42.298000000,61.821849,2015-10-05 05:46:18.053000000,49.457479,2015-10-13 00:10:52.928000000
81,1F51E050-78F7-F270-1B90-ED1BC0376763,77.208365,2015-11-30 20:15:28.933000000,76.708365,2015-12-02 17:52:59.996000000,69.757528,2015-12-07 23:54:08.864000000,68.857528,2015-12-14 02:43:04.457000000,68.857528,2015-12-21 00:40:38.916000000,55.086023,2015-12-22 04:04:51.158000000
82,DDE0526B-7DA4-80E8-C2A6-D097F3826029,89.993285,2015-09-18 23:45:58.296000000,71.634628,2015-09-27 16:09:33.604000000,72.334628,2015-10-13 09:13:10.112000000,64.291165,2015-09-28 18:52:32.523000000,57.862048,2015-10-05 17:51:54.790000000,57.862048,2016-01-17 17:55:10.758000000
83,1F51E050-78F7-F270-1B90-ED1BC0376763,52.272330,2015-10-19 17:40:33.822000000,46.615097,2015-10-20 18:15:28.847000000,47.315097,2015-10-30 03:25:24.945000000,46.415097,2015-10-29 22:32:47.721000000,46.415097,2015-10-26 23:30:38.389000000,41.773587,2015-11-03 20:56:42.957000000
85,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,96.909659,2015-10-05 01:29:09.138000000,86.788693,2015-10-12 02:07:16.579000000,78.829824,2015-10-13 02:12:27.336000000,70.136841,2015-10-19 00:59:23.378000000,70.136841,2015-10-25 23:05:43.257000000,70.136841,2015-10-27 00:31:01.182000000
88,CAE0006D-60EB-7384-CC55-D240402AEBB8,39.985990,2015-11-15 18:20:03.923000000,39.485990,2015-11-21 11:40:39.080000000,36.257391,2015-11-24 20:16:52.656000000,31.821652,2015-11-26 06:45:29.322000000,31.821652,2015-12-05 16:38:26.185000000,31.821652,2015-12-12 16:43:53.169000000
91,16BDE671-E387-602F-7DF2-DF6CE6425038,99.047253,2015-10-05 04:28:49.715000000,78.877803,2015-10-12 03:50:16.435000000,63.842242,2015-10-16 17:57:23.764000000,62.942242,2015-10-20 06:03:19.214000000,56.648018,2015-10-26 06:44:40.091000000,50.983216,2015-11-03 06:28:16.817000000

In [13]:
# So, you have lots of skills now with pandas, 
# how would you go about getting the late_finishers dataframe?
# Why don't you pause the video and give it a try.

In [6]:
# Here's my solution. First, the dataframe df and the early_finishers
# share index values, so I really just
# want everything in the df which is not in early_finishers
# pues ser asi: nii = df[pd.to_datetime(df['assignment1_submission']) >= '2016']

#o bien,
late_finishers=df[~df.index.isin(early_finishers.index)]
late_finishers.head(5)

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [22]:
# There are lots of other ways to do this.
# For instance, you could just copy and paste the first projection
# and change the sign from less than to greater than or equal to. 
# This is ok, but if you decide you want to
# change the date down the road you have to remember to change it 
# in two places. You could also do a join of
# the dataframe df with early_finishers -
# if you do a left join you only keep the items in the left dataframe,
# so this would have been a good answer. 
# You also could have written a function that determines if someone is
# early or late, and then called .apply() on the dataframe
# and added a new column to the dataframe. This is a
# pretty reasonable answer as well.

In [9]:
# As you've seen, the pandas data frame object has a variety of statistical
# functions associated with it. If
# we call the mean function directly on the data frame,
# we see that each of the means for the assignments are
# calculated. Let's compare the means for our two populations
print(early_finishers.mean())
print(late_finishers.mean())

print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

assignment1_grade    74.947285
assignment2_grade    67.229129
assignment3_grade    61.098805
assignment4_grade    54.126001
assignment5_grade    48.604524
assignment6_grade    43.812144
dtype: float64
assignment1_grade    74.045065
assignment2_grade    66.395813
assignment3_grade    60.056162
assignment4_grade    54.095552
assignment5_grade    48.635211
assignment6_grade    43.876394
dtype: float64
74.94728457024304
74.0450648477065

In [11]:
# Ok, these look pretty similar. But, are they the same? 
# What do we mean by similar? This is where the
# students' t-test comes in. It allows us to form
# the alternative hypothesis ("These are different") as well
# as the null hypothesis ("These are the same") and then test 
# that null hypothesis.

# When doing hypothesis testing, we have to choose a significance
# level as a threshold for how much of a
# chance we're willing to accept. This significance level is 
# typically called alpha. For this example, let's
# use a threshold of 0.05 for our alpha or 5%. Now this is a
# commonly used number but it's really quite
# arbitrary.

# The SciPy library contains a number of different statistical 
# tests and forms a basis for hypothesis testing
# in Python and we're going to use the ttest_ind() 
# function which does an independent t-test (meaning the
# populations are not related to one another).

# The result of ttest_index() are the t-statistic and a p-value.
# It's this latter value, the probability, which is most important to us,
# as it indicates the chance (between
# 0 and 1) of our null hypothesis being True.

# Let's bring in our ttest_ind function
from scipy.stats import ttest_ind

# Let's run this function with our two populations,
# looking at the assignment 1 grades

ttest_ind(early_finishers['assignment1_grade'], 
          late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.3223540853721596, pvalue=0.18618101101713855)

In [12]:
# So here we see that the probability is 0.18,
# and this is above our alpha value of 0.05. This means that we
# cannot reject the null hypothesis. 
# The null hypothesis was that the two populations are the same, and we
# don't have enough certainty in our evidence
# (because it is greater than alpha) to come to a conclusion to
# the contrary. This doesn't mean that we have proven 
# the populations are the same.

In [13]:
# Why don't we check the other assignment grades?
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

In [14]:
# Ok, so it looks like in this data we do not have enough
# evidence to suggest the populations differ with
# respect to grade. Let's take a look at those p-values 
# for a moment though, because they are saying things
# that can inform experimental design down the road. 
# For instance, one of the assignments, assignment 3, has a
# p-value around 0.1. 
# This means that if we accepted a level of chance similarity of 11% 
# this would have been
# considered statistically significant.
# As a research, this would suggest to me that there is something here
# worth considering following up on.

# For instance, if we had a small number of participants (we don't) or if
# there was something unique about this assignment 
# as it relates to our experiment (whatever it was) then
# there may be followup experiments we could run.

In [15]:
# P-values have come under fire recently for being insuficient
# for telling us enough about the interactions
# which are happening, and two other techniques, 
# confidence intervalues and bayesian analyses, are being used
# more regularly.

# One issue with p-values is that as you run more tests you 
# are likely to get a value which
# is statistically significant just by chance.

# Lets see a simulation of this. 
# First, lets create a data frame of 100 columns, each with 100 numbers
df1=pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.771981,0.300807,0.859511,0.527129,0.298103,0.765953,0.625381,0.311769,0.307172,0.416089,...,0.991853,0.711573,0.297490,0.554781,0.193479,0.936550,0.817640,0.363476,0.150649,0.590393
1,0.201107,0.996606,0.560926,0.194175,0.904290,0.406860,0.204319,0.285607,0.280851,0.652569,...,0.015991,0.709135,0.418303,0.694884,0.686240,0.683541,0.917331,0.271377,0.890925,0.671587
2,0.450912,0.910108,0.398643,0.667051,0.081442,0.551772,0.986264,0.022460,0.517304,0.811148,...,0.058834,0.977276,0.471014,0.827639,0.310942,0.368686,0.883505,0.645800,0.506705,0.323772
3,0.322695,0.328434,0.439760,0.833929,0.756416,0.215364,0.881402,0.392818,0.038540,0.428167,...,0.258877,0.376789,0.298316,0.297974,0.425308,0.851196,0.818303,0.235854,0.945321,0.303173
4,0.793706,0.484613,0.093464,0.584541,0.228840,0.362470,0.732469,0.704083,0.105755,0.346273,...,0.700124,0.542999,0.036351,0.912207,0.375398,0.331349,0.055205,0.762758,0.920264,0.385896

In [29]:
# Pause this and reflect -- do you understand the
# list comprehension and how I created this DataFrame? You
# don't have to use a list comprehension to do this,
# but you should be able to read this and figure out how it
# works as this is a commonly used approach on web forums.

In [16]:
# Ok, let's create a second dataframe
df2=pd.DataFrame([np.random.random(100) for x in range(100)])
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.578039,0.241867,0.933837,0.104783,0.359961,0.603325,0.822837,0.920764,0.717410,0.217639,...,0.922277,0.233266,0.147578,0.356891,0.022527,0.669457,0.815692,0.851602,0.894551,0.843661
1,0.472987,0.944280,0.513955,0.610294,0.342005,0.892489,0.184800,0.826433,0.943259,0.719372,...,0.080330,0.432238,0.862486,0.600111,0.581406,0.805656,0.689755,0.863858,0.609813,0.039431
2,0.724473,0.049461,0.494578,0.948857,0.457277,0.123069,0.124595,0.980330,0.084333,0.784973,...,0.386830,0.198930,0.751839,0.583660,0.415738,0.511688,0.085685,0.486315,0.119046,0.963064
3,0.492593,0.590874,0.407702,0.701167,0.049836,0.649824,0.689006,0.150793,0.482051,0.627809,...,0.043932,0.366742,0.721899,0.172178,0.996746,0.923957,0.852845,0.223592,0.733406,0.897510
4,0.857613,0.033512,0.550982,0.925412,0.895338,0.843112,0.339575,0.998443,0.314314,0.678019,...,0.217061,0.244462,0.857014,0.697517,0.903317,0.873525,0.518331,0.089181,0.043721,0.158491

In [17]:
# Are these two DataFrames the same? 
# Maybe a better question is, for a given row inside of df1, 
# is it the same as the row inside df2?

# Let's take a look. Let's say our critical value is 0.1,
# or an alpha of 10%. And we're going to compare each
# column in df1 to the same numbered column in df2.
# And we'll report when the p-value isn't less than 10%,
# which means that we have sufficient evidence to say that 
# the columns are different.

# Let's write this in a function called test_columns
def test_columns(alpha=0.1):
    # I want to keep track of how many differ
    num_diff=0
    # And now we can just iterate over the columns
    for col in df1.columns:
        # we can run out ttest_ind between the two dataframes
        teststat,pval=ttest_ind(df1[col],df2[col])
        # and we check the pvalue versus the alpha
        if pval<=alpha:
            # And now we'll just print out if they are
            # different and increment the num_diff
            print("Col {} is statistically significantly different at alpha={}, pval={}".format(col,alpha,pval))
            num_diff=num_diff+1
    # and let's print out some summary stats
    print("Total number different was {}, which is {}%".format(num_diff,float(num_diff)/len(df1.columns)*100))

# And now lets actually run this
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=0.016256581973286114
Col 14 is statistically significantly different at alpha=0.1, pval=0.0678700305496596
Col 21 is statistically significantly different at alpha=0.1, pval=0.09840268721577645
Col 41 is statistically significantly different at alpha=0.1, pval=0.07897481412435241
Col 45 is statistically significantly different at alpha=0.1, pval=0.06970722408909921
Col 59 is statistically significantly different at alpha=0.1, pval=0.015657061418832455
Col 62 is statistically significantly different at alpha=0.1, pval=0.06051110721640995
Col 78 is statistically significantly different at alpha=0.1, pval=0.07397709993523054
Total number different was 8, which is 8.0%

In [18]:
# Interesting, so we see that there are a bunch of columns 
# that are different! In fact, that number looks a
# lot like the alpha value we chose. So what's going on - 
# shouldn't all of the columns be the same? Remember
# that all the ttest does is check if two sets are similar
# given some level of confidence, in our case, 10%.
# The more random comparisons you do, the more will just happen
# to be the same by chance. In this example, we
# checked 100 columns, 
# so we would expect there to be roughly 10 of them if our alpha was 0.1.

# We can test some other alpha values as well
test_columns(0.05)

Col 0 is statistically significantly different at alpha=0.05, pval=0.016256581973286114
Col 59 is statistically significantly different at alpha=0.05, pval=0.015657061418832455
Total number different was 2, which is 2.0%

In [19]:
# So, keep this in mind when you are doing statistical tests 
# like the t-test which has a p-value. Understand
# that this p-value isn't magic,
# that it's a threshold for you when reporting results and trying to answer
# your hypothesis. 
#What's a reasonable threshold? Depends on your question,
# and you need to engage domain
# experts to better understand what they would consider significant.

# Just for fun, lets recreate that second dataframe 
# using a non-normal distribution, I'll arbitrarily chose
# chi squared
df2=pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=0.000558682117398937
Col 1 is statistically significantly different at alpha=0.1, pval=0.0005155820441298651
Col 2 is statistically significantly different at alpha=0.1, pval=0.00022980133075183737
Col 3 is statistically significantly different at alpha=0.1, pval=1.0486726219602672e-06
Col 4 is statistically significantly different at alpha=0.1, pval=5.337104433227248e-06
Col 5 is statistically significantly different at alpha=0.1, pval=0.00011837906177713294
Col 6 is statistically significantly different at alpha=0.1, pval=4.556132614162642e-06
Col 7 is statistically significantly different at alpha=0.1, pval=0.04348699597149588
Col 8 is statistically significantly different at alpha=0.1, pval=9.892347034729827e-05
Col 9 is statistically significantly different at alpha=0.1, pval=0.0054525379965318236
Col 10 is statistically significantly different at alpha=0.1, pval=3.704669135279052e-05
Col 11 is statistically significantly different at alpha=0.1, pval=0.014307672673711256
Col 12 is statistically significantly different at alpha=0.1, pval=0.0011384196659370454
Col 13 is statistically significantly different at alpha=0.1, pval=0.004551351825705202
Col 14 is statistically significantly different at alpha=0.1, pval=4.1450061537914804e-05
Col 15 is statistically significantly different at alpha=0.1, pval=5.6395524125691854e-05
Col 16 is statistically significantly different at alpha=0.1, pval=0.0003554399818966485
Col 17 is statistically significantly different at alpha=0.1, pval=0.0008162109388420743
Col 18 is statistically significantly different at alpha=0.1, pval=0.0006910430188443921
Col 19 is statistically significantly different at alpha=0.1, pval=0.00020979088523839616
Col 20 is statistically significantly different at alpha=0.1, pval=0.000740900075512454
Col 21 is statistically significantly different at alpha=0.1, pval=0.009558888369134606
Col 22 is statistically significantly different at alpha=0.1, pval=9.552063663228571e-05
Col 23 is statistically significantly different at alpha=0.1, pval=0.0012589209212089138
Col 24 is statistically significantly different at alpha=0.1, pval=0.0010513658134425725
Col 25 is statistically significantly different at alpha=0.1, pval=0.0003886927496401547
Col 26 is statistically significantly different at alpha=0.1, pval=2.1893046007274286e-05
Col 27 is statistically significantly different at alpha=0.1, pval=0.00030576362678920183
Col 28 is statistically significantly different at alpha=0.1, pval=0.00035373874749408993
Col 29 is statistically significantly different at alpha=0.1, pval=2.9750534953715933e-05
Col 30 is statistically significantly different at alpha=0.1, pval=0.00023579939093158278
Col 31 is statistically significantly different at alpha=0.1, pval=0.0011986444786697343
Col 32 is statistically significantly different at alpha=0.1, pval=2.4389304007659954e-05
Col 33 is statistically significantly different at alpha=0.1, pval=0.004298701561367416
Col 34 is statistically significantly different at alpha=0.1, pval=6.655539798275469e-06
Col 35 is statistically significantly different at alpha=0.1, pval=0.001943976057436292
Col 36 is statistically significantly different at alpha=0.1, pval=0.00019319087368500486
Col 37 is statistically significantly different at alpha=0.1, pval=0.0005109876555862156
Col 38 is statistically significantly different at alpha=0.1, pval=0.00017789780392690022
Col 39 is statistically significantly different at alpha=0.1, pval=0.03550567884283694
Col 40 is statistically significantly different at alpha=0.1, pval=0.0014152367819280339
Col 41 is statistically significantly different at alpha=0.1, pval=0.002336792336155874
Col 42 is statistically significantly different at alpha=0.1, pval=0.00010121515364856338
Col 43 is statistically significantly different at alpha=0.1, pval=6.97243174251808e-08
Col 44 is statistically significantly different at alpha=0.1, pval=0.006003323064227022
Col 45 is statistically significantly different at alpha=0.1, pval=0.00011087910745481437
Col 46 is statistically significantly different at alpha=0.1, pval=0.00011289281216736158
Col 47 is statistically significantly different at alpha=0.1, pval=0.0004703312011791656
Col 48 is statistically significantly different at alpha=0.1, pval=1.658375953613978e-05
Col 49 is statistically significantly different at alpha=0.1, pval=7.822598563363222e-05
Col 50 is statistically significantly different at alpha=0.1, pval=1.937419241318731e-05
Col 51 is statistically significantly different at alpha=0.1, pval=0.0001158782509850402
Col 52 is statistically significantly different at alpha=0.1, pval=2.5570200651822585e-05
Col 53 is statistically significantly different at alpha=0.1, pval=1.6846404611065136e-05
Col 54 is statistically significantly different at alpha=0.1, pval=1.8453241786835756e-05
Col 55 is statistically significantly different at alpha=0.1, pval=0.0004987274683898293
Col 56 is statistically significantly different at alpha=0.1, pval=0.005432075436724926
Col 57 is statistically significantly different at alpha=0.1, pval=0.0018147897104577918
Col 58 is statistically significantly different at alpha=0.1, pval=0.0011772861294419249
Col 59 is statistically significantly different at alpha=0.1, pval=0.00016209367189937295
Col 60 is statistically significantly different at alpha=0.1, pval=0.02166295184337243
Col 61 is statistically significantly different at alpha=0.1, pval=0.0012708787392059313
Col 62 is statistically significantly different at alpha=0.1, pval=0.0018536298919793262
Col 63 is statistically significantly different at alpha=0.1, pval=0.0001305207426482651
Col 64 is statistically significantly different at alpha=0.1, pval=7.4973314807388e-05
Col 65 is statistically significantly different at alpha=0.1, pval=0.0010657196071216964
Col 66 is statistically significantly different at alpha=0.1, pval=0.00014194590988410768
Col 67 is statistically significantly different at alpha=0.1, pval=0.00038750438581736574
Col 68 is statistically significantly different at alpha=0.1, pval=0.0013149551927203608
Col 69 is statistically significantly different at alpha=0.1, pval=4.056428117427431e-05
Col 70 is statistically significantly different at alpha=0.1, pval=6.816793958136318e-05
Col 71 is statistically significantly different at alpha=0.1, pval=0.0010532819857634907
Col 72 is statistically significantly different at alpha=0.1, pval=8.848697487425373e-05
Col 73 is statistically significantly different at alpha=0.1, pval=5.736718380808945e-05
Col 74 is statistically significantly different at alpha=0.1, pval=0.03936390475726521
Col 75 is statistically significantly different at alpha=0.1, pval=0.00012324457301506934
Col 76 is statistically significantly different at alpha=0.1, pval=0.000518526417483293
Col 77 is statistically significantly different at alpha=0.1, pval=2.085246320161508e-05
Col 78 is statistically significantly different at alpha=0.1, pval=0.0005817943365751663
Col 79 is statistically significantly different at alpha=0.1, pval=0.0001961251338989306
Col 80 is statistically significantly different at alpha=0.1, pval=0.0013549327525422651
Col 81 is statistically significantly different at alpha=0.1, pval=0.027083508647673376
Col 82 is statistically significantly different at alpha=0.1, pval=0.0006661406885735485
Col 83 is statistically significantly different at alpha=0.1, pval=0.02117581033444688
Col 84 is statistically significantly different at alpha=0.1, pval=0.0007227512359494604
Col 85 is statistically significantly different at alpha=0.1, pval=0.00012554549163928632
Col 86 is statistically significantly different at alpha=0.1, pval=0.0003103756750108536
Col 87 is statistically significantly different at alpha=0.1, pval=0.0003545555546788223
Col 88 is statistically significantly different at alpha=0.1, pval=0.016736994596936287
Col 89 is statistically significantly different at alpha=0.1, pval=0.0011399161798402503
Col 90 is statistically significantly different at alpha=0.1, pval=0.0001256810377982653
Col 91 is statistically significantly different at alpha=0.1, pval=0.0013054810097604854
Col 92 is statistically significantly different at alpha=0.1, pval=0.00013517461445939694
Col 93 is statistically significantly different at alpha=0.1, pval=0.00011231805411088581
Col 94 is statistically significantly different at alpha=0.1, pval=0.009379361549324767
Col 95 is statistically significantly different at alpha=0.1, pval=0.007117637134234256
Col 96 is statistically significantly different at alpha=0.1, pval=0.02305572663502162
Col 97 is statistically significantly different at alpha=0.1, pval=2.6120656635616124e-05
Col 98 is statistically significantly different at alpha=0.1, pval=6.0300513513046954e-05
Col 99 is statistically significantly different at alpha=0.1, pval=0.0004510172821924244
Total number different was 100, which is 100.0%

In [39]:
# Now we see that all or most columns test to be
#statistically significant at the 10% level.

In this lecture, we've discussed just some of the basics of hypothesis testing in Python. I introduced you
to the SciPy library, which you can use for the students t test. We've discussed some of the practical
issues which arise from looking for statistical significance. There's much more to learn about hypothesis
testing, for instance, there are different tests used, depending on the shape of your data and different
ways to report results instead of just p-values such as confidence intervals or bayesian analyses. But this
should give you a basic idea of where to start when comparing two populations for differences, which is a
common task for data scientists.